@import 'tailwindcss' source(none);

@theme {
  --color-brand-primary: var(--brand-primary);
  --color-brand-secondary: var(--brand-secondary);
  --color-brand-neutral: var(--brand-neutral);
  --color-brand-outline: var(--brand-outline);
}

@source '../../src/**/*.{astro,html,js,jsx,md,mdx,ts,tsx}';
