<section class="py-24">
  <div class="mx-auto max-w-7xl px-8">
    <p class="text-portage-500 mb-8 text-center text-sm font-bold tracking-widest uppercase">
      Empresas que confiam no meu trabalho
    </p>
    <div class="flex flex-wrap items-center justify-center gap-12">
      <img
        alt="Client logo"
        class="h-8 bg-black"
        data-alt="Corporate logo of a leading tech company in minimalist black and white"
        src="/public/clients/reponto.svg"
      />
      <img
        alt="Client logo"
        class="h-8 bg-gray-500"
        data-alt="Corporate logo of a global financial institution in minimalist black and white"
        src="/public/clients/lara-brenner.svg"
      />
      <img
        alt="Client logo"
        class="h-8"
        data-alt="Corporate logo of a major retail brand in minimalist black and white"
        src="https://lh3.googleusercontent.com/aida-public/AB6AXuCrJOwepo1CLRRQ8U9e8w1OO_WZQmRPswDkLgn46NcVEc4tNfUsQbVMYzJW6qFqrAPdUPMa5juuTLai_V2A7n6gBD5H6glECPyezK0z6RTYyv7m4hsE7NZ9Z_ZcSUiZkGjz8IFoeDk7sxcy9hdgo7S2DnJioQwmawpbc3SXFADHzv3HSn2-o0n03eLTzae60faD1xCuGgON0atIc8Ue8SK4HDvfENF7HWvJk7JewrziGmzZjja6EPCpKuYxoT56BZhKHO8LbHApYXDS"
      />
      <img
        alt="Client logo"
        class="h-8"
        data-alt="Corporate logo of a healthcare provider in minimalist black and white"
        src="https://lh3.googleusercontent.com/aida-public/AB6AXuDGXGF18sWRq8a0ZAwnOdOFQT3PJnXbmNcjL0nazqOZvE799bpytEeUjfCrXb0NEhIbJMd2e25yXJssPm-YdGaM_NaiNWn-wOFhKGuvrHvSiLQ8sMsM_myb6jp5qmAB_L1eK0KWMZxjZ9xLoolms_ODUcR0aN0ckPR--rIFCqJdjr-V7VITVRGFJZOYjnEVs407HYG0_MgbmWQkVYUUnPuwqtNMqozgft0IgvL6QyrVqUHkyxpDliH5LR9NfepWZJ4Fc0sXEl0p2PHS"
      />
      <img
        alt="Certification"
        class="h-10"
        data-alt="Digital accessibility certification seal icon"
        src="https://lh3.googleusercontent.com/aida-public/AB6AXuBMW1qpTD-UrwXJ14zjQ85c1u5GxZ4vmSZZuYH6XImhuG_jHtn_Xz7_oTHmlJygZh4WqVEOAwjPgN64B5pYPku2SWT-sOkgNJQeFQ3pGfMh89i2iQ0U-fa4Q0iv6LRKxgf4lLzFYLx1bNoSlInEk6XrYJGdl5NIhUcXDIBOQsqjOGFFIGtQTlIYGSIXa9Cp37qS4QxEoNYL8-GNj3thKL9C2S2mbZyV7uLC2B0rfoIVh_WjhwabRpkrtKn4kzrF0uCAOiWHJ7rw0GSg"
      />
    </div>
  </div>
</section>
