---
import { CircleCheck } from '@lucide/astro'

interface Props {
  text: string
  class?: string
}

const { text, class: className }: Props = Astro.props
---

<li class:list={['flex items-start gap-3', className]}>
  <CircleCheck class="text-portage-500 size-5 flex-shrink-0" aria-hidden="true" />
  <span class="font-light"><slot>{text}</slot></span>
</li>