---
import { Heading } from 'accessible-astro-components'
import { Icon } from 'astro-icon/components'

interface Props {
  icon: string
  class?: string
  title: string
}

const { icon = 'mdi:rocket', title = 'Title' }: Props = Astro.props
---

<article class="group border-brand-primary cursor-default border bg-white/5 p-8 transition-all hover:bg-white/10">
  <Icon aria-hidden="true" name={icon} class="text-brand-secondary mb-6 size-8" />
  <div class="content">
    <Heading level="h3" size="h6" class="mb-2 font-bold">{title}</Heading>
    <p class="text-white">
      <slot>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic, corporis.</slot>
    </p>
  </div>
</article>
