---
import { Link } from 'accessible-astro-components'
import Feature from '@components/Feature.astro'
---

<section class="bg-brand-primary px-8 py-24 text-white">
  <div class="mx-auto max-w-7xl">
    <div class="mb-16">
      <p class="text-brand-secondary mb-4 text-sm font-bold tracking-[0.15em] uppercase">Como posso ajudar</p>
      <h2 class="font-serif text-4xl md:text-5xl">Meus serviços</h2>
    </div>
    <div class="grid gap-1 md:grid-cols-3">
      <Feature icon="lucide:gauge" title="Diagnóstico e Auditoria">
        <p class="leading-relaxed text-white">
          Análise técnica profunda baseada nas heurísticas da WCAG 2.2 para identificar e catalogar barreiras de
          acessibilidade.
        </p>
      </Feature>
      <Feature icon="lucide:code" title="Desenvolvimento acessível">
        <p class="leading-relaxed text-white">
          Implementação de componentes front-end robustos utilizando WAI-ARIA e semântica nativa de alto desempenho.
        </p>
      </Feature>
      <Feature icon="lucide:files" title="Documentos acessíveis">
        <p class="leading-relaxed text-white">
          Adaptação de documento digitais para compatibilidade com tecnologias assistivas.
        </p>
      </Feature>
      <Feature icon="lucide:presentation" title="Treinamentos e Palestras">
        <p class="leading-relaxed text-white">
          Capacitação técnica para times de design e engenharia sobre cultura inclusiva e padrões técnicos de
          implementação.
        </p>
      </Feature>

      <Feature icon="lucide:presentation" title="Coaching e Mentoria">
        <p class="leading-relaxed text-white">
          Acompanhamento individual para desenvolvedores que buscam elevar o nível de acessibilidade em seus projetos.
        </p>
      </Feature>

      <Feature icon="lucide:target" title="Consultoria Selo CPA">
        <p class="leading-relaxed text-white">
          Consultoria de ponta a ponta para obtenção do Selo de Acessibilidade da Prefeitura de São Paulo.
        </p>
      </Feature>
    </div>
    <div class="services__cta mx-auto my-6 flex justify-center">
      <Link
        href="/servicos/"
        class="focus:ring-brand-secondary text-brand-primary hover:bg-brand-primary/50 rounded-lg border border-zinc-300 bg-white px-8 py-3 font-bold transition-all focus:ring-2 focus:ring-offset-2"
      >
        Ver todos os serviços
      </Link>
    </div>
  </div>
</section>
